.env
__pycache__/
output/
.idea/
streamlit.log
streamlit.err
.vscode/
python-angular-cv-studio/frontend/node_modules/
python-angular-cv-studio/frontend/.angular/
templates/~$*.docx
templates/*.tmp.docx
.frontend/
